node-red/etc/.flows.json.backup
[{"id":"cd50a717.709188","type":"tab","label":"ADAMs MQTT","disabled":false,"info":""},{"id":"ce818009.142b7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"582a8fbb.a9f48","type":"ui_tab","z":"","name":"Dinamômetro - Bloco B","icon":"dashboard","disabled":false,"hidden":false},{"id":"8db9c761.be5608","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"287e2ee5.849902","type":"mqtt-broker","z":"","name":"Mosquitto weblab","broker":"weblab.maua.br","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"214f9f89.a17a2","type":"ui_group","z":"","name":"DET-01","tab":"","order":3,"disp":true,"width":"10"},{"id":"88dd6d51.c892a","type":"websocket-listener","z":"","path":"/ui","wholemsg":"false"},{"id":"13cd725e.786a4e","type":"websocket-client","z":"","path":"https://weblab.maua.br/ui","tls":"","wholemsg":"false"},{"id":"f02d3ade.e70ac8","type":"ui_group","z":"","name":"","tab":"582a8fbb.a9f48","order":4,"disp":true,"width":30,"collapse":false},{"id":"e4a712cf.1a91d","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":15,"width":6,"height":1},{"id":"364f2d0e.9e2732","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":16,"width":6,"height":1},{"id":"adf43afe.8ae448","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":17,"width":6,"height":1},{"id":"28480b68.be5ab4","type":"ui_spacer","name":"spacer","group":"f02d3ade.e70ac8","order":18,"width":6,"height":1},{"id":"6044ecc5.329f44","type":"comment","z":"cd50a717.709188","name":"ADAM 6066","info":"","x":90,"y":40,"wires":[]},{"id":"74322cc5.10eff4","type":"comment","z":"cd50a717.709188","name":"Pegando os dados","info":"","x":110,"y":80,"wires":[]},{"id":"801da529.56c068","type":"comment","z":"cd50a717.709188","name":"Subindo dados","info":"","x":100,"y":600,"wires":[]},{"id":"32af0f8d.cf499","type":"mqtt in","z":"cd50a717.709188","name":"ADAM 6066 DATA","topic":"Advantech/74FE4846B81A/data","qos":"2","datatype":"auto","broker":"287e2ee5.849902","x":110,"y":340,"wires":[["9158799a.32a0a8"]]},{"id":"1ec1fd59.c75b53","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO0","topic":"Advantech/74FE4846B81A/ctl/do1","qos":"2","retain":"true","broker":"287e2ee5.849902","x":450,"y":640,"wires":[]},{"id":"43495c18.de2224","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO1","topic":"Advantech/74FE4846B81A/ctl/do2","qos":"2","retain":"true","broker":"287e2ee5.849902","x":510,"y":680,"wires":[]},{"id":"325e1029.20a6c","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO2","topic":"Advantech/74FE4846B81A/ctl/do3","qos":"2","retain":"true","broker":"287e2ee5.849902","x":430,"y":720,"wires":[]},{"id":"ecdd5291.3a264","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO3","topic":"Advantech/74FE4846B81A/ctl/do4","qos":"2","retain":"true","broker":"287e2ee5.849902","x":470,"y":760,"wires":[]},{"id":"8b420b4d.0b64a8","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO4","topic":"Advantech/74FE4846B81A/ctl/do5","qos":"2","retain":"true","broker":"287e2ee5.849902","x":490,"y":800,"wires":[]},{"id":"2b703fe.5bd31c","type":"mqtt out","z":"cd50a717.709188","name":"ADAM 6066 DO5","topic":"Advantech/74FE4846B81A/ctl/do6","qos":"2","retain":"true","broker":"287e2ee5.849902","x":470,"y":840,"wires":[]},{"id":"7a6ef8ab.d5e0f8","type":"websocket in","z":"cd50a717.709188","name":"6066-DO5-ON","server":"","client":"13cd725e.786a4e","x":90,"y":840,"wires":[["48f0db4.4bc7f24"]]},{"id":"a522422b.dfef6","type":"websocket in","z":"cd50a717.709188","name":"6066-DO1-ON","server":"","client":"13cd725e.786a4e","x":90,"y":680,"wires":[["7098e859.5f5a48"]]},{"id":"aa768fe5.c64bd","type":"websocket in","z":"cd50a717.709188","name":"6066-DO4-ON","server":"","client":"13cd725e.786a4e","x":90,"y":800,"wires":[["24040aa6.f35b66"]]},{"id":"4321e7eb.d4e8d8","type":"websocket in","z":"cd50a717.709188","name":"6066-DO0-ON","server":"","client":"13cd725e.786a4e","x":90,"y":640,"wires":[["d262366.8e5f8c8"]]},{"id":"462e8b99.b2d144","type":"websocket in","z":"cd50a717.709188","name":"6066-DO3-ON","server":"","client":"13cd725e.786a4e","x":90,"y":760,"wires":[["f923420f.34efc"]]},{"id":"9158799a.32a0a8","type":"json","z":"cd50a717.709188","name":"","property":"payload","action":"","pretty":false,"x":280,"y":340,"wires":[["ef26cc1f.9dce","68f747c8.568728","22766975.793cc6","c9f8f957.5e1cf8","27a624ba.b4e59c","ecd16282.71fa8","4b166726.d46968","54b6adab.291d34","e3c4dffe.feaa6","82023615.602718","5280ab72.99a484","28909da8.738832"]]},{"id":"ef26cc1f.9dce","type":"function","z":"cd50a717.709188","d":true,"name":"DI0","func":"var m = msg.payload;\nmsg.payload = m.di1;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["6fc12a3a.414894"]]},{"id":"68f747c8.568728","type":"function","z":"cd50a717.709188","d":true,"name":"DI1","func":"var m = msg.payload;\nmsg.payload = m.di2;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["ea669eee.1bb49"]]},{"id":"22766975.793cc6","type":"function","z":"cd50a717.709188","d":true,"name":"DI2","func":"var m = msg.payload;\nmsg.payload = m.di3;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["88b73b0e.479028"]]},{"id":"c9f8f957.5e1cf8","type":"function","z":"cd50a717.709188","d":true,"name":"DI3","func":"var m = msg.payload;\nmsg.payload = m.di4;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["95659b6.b9cab68"]]},{"id":"27a624ba.b4e59c","type":"function","z":"cd50a717.709188","d":true,"name":"DI4","func":"var m = msg.payload;\nmsg.payload = m.di5;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["5814ca0a.84cb64"]]},{"id":"ecd16282.71fa8","type":"function","z":"cd50a717.709188","d":true,"name":"DI5","func":"var m = msg.payload;\nmsg.payload = m.di6;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["6b2509a6.4e0308"]]},{"id":"28909da8.738832","type":"function","z":"cd50a717.709188","name":"DO0","func":"var m = msg.payload;\nmsg.payload = m.do1;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["b423399c.ae7498"]]},{"id":"5280ab72.99a484","type":"function","z":"cd50a717.709188","name":"DO1","func":"var m = msg.payload;\nmsg.payload = m.do2;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["4f75d4e4.a89ddc"]]},{"id":"82023615.602718","type":"function","z":"cd50a717.709188","name":"DO2","func":"var m = msg.payload;\nmsg.payload = m.do3;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["586b2547.7e35bc"]]},{"id":"e3c4dffe.feaa6","type":"function","z":"cd50a717.709188","name":"DO3","func":"var m = msg.payload;\nmsg.payload = m.do4;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["136cf2ee.6144ad"]]},{"id":"54b6adab.291d34","type":"function","z":"cd50a717.709188","name":"DO4","func":"var m = msg.payload;\nmsg.payload = m.do5;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["31a6ae5d.417c52"]]},{"id":"4b166726.d46968","type":"function","z":"cd50a717.709188","name":"DO5","func":"var m = msg.payload;\nmsg.payload = m.do6;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["60210a18.ac2fb4"]]},{"id":"6b3051c0.4e3cd","type":"websocket in","z":"cd50a717.709188","name":"6066-DO2-ON","server":"","client":"13cd725e.786a4e","x":90,"y":720,"wires":[["8e2cdca8.efe6b"]]},{"id":"6fc12a3a.414894","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[["88c59426.fb7628"],["15a049e6.336866"]]},{"id":"88c59426.fb7628","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[[]]},{"id":"15a049e6.336866","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[[]]},{"id":"ea669eee.1bb49","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":220,"wires":[["c81c866f.ec40e8"],["c64399c8.acdce8"]]},{"id":"c81c866f.ec40e8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[[]]},{"id":"c64399c8.acdce8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[[]]},{"id":"88b73b0e.479028","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":300,"wires":[["7027f67e.36bfc8"],["a39056b6.5e3ec8"]]},{"id":"7027f67e.36bfc8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[[]]},{"id":"a39056b6.5e3ec8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[[]]},{"id":"95659b6.b9cab68","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":380,"wires":[["d82f3ee5.fa99c"],["84d5aaab.d47538"]]},{"id":"d82f3ee5.fa99c","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[[]]},{"id":"84d5aaab.d47538","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[[]]},{"id":"5814ca0a.84cb64","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":460,"wires":[["23dcb7ff.179598"],["f7241919.e18de8"]]},{"id":"23dcb7ff.179598","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":440,"wires":[[]]},{"id":"f7241919.e18de8","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[[]]},{"id":"6b2509a6.4e0308","type":"switch","z":"cd50a717.709188","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":540,"wires":[["b0b5c969.85e258"],["caa78622.a3ae88"]]},{"id":"b0b5c969.85e258","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[[]]},{"id":"caa78622.a3ae88","type":"function","z":"cd50a717.709188","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":560,"wires":[[]]},{"id":"b423399c.ae7498","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":140,"wires":[["d4743356.0cf2d"],["eafdf115.6a999"]]},{"id":"d4743356.0cf2d","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["c606b384.59b9d"]]},{"id":"eafdf115.6a999","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":160,"wires":[["c606b384.59b9d"]]},{"id":"4f75d4e4.a89ddc","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":220,"wires":[["5ddbc7f1.4985d8"],["a6dbcf69.44cea"]]},{"id":"5ddbc7f1.4985d8","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":200,"wires":[["37efc90b.3b1626"]]},{"id":"a6dbcf69.44cea","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["37efc90b.3b1626"]]},{"id":"586b2547.7e35bc","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":300,"wires":[["b129ac9f.814a4"],["d4ff347b.a69318"]]},{"id":"b129ac9f.814a4","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["ea2e9a06.208598"]]},{"id":"d4ff347b.a69318","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":320,"wires":[["ea2e9a06.208598"]]},{"id":"136cf2ee.6144ad","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":380,"wires":[["d86ffc40.2042c"],["c7f0cc1a.1f5e2"]]},{"id":"d86ffc40.2042c","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":360,"wires":[["5967a8f2.da6d78"]]},{"id":"c7f0cc1a.1f5e2","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":400,"wires":[["5967a8f2.da6d78"]]},{"id":"31a6ae5d.417c52","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":460,"wires":[["80a262ee.6854b"],["ec8576bb.173fd8"]]},{"id":"80a262ee.6854b","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":440,"wires":[["b225edd7.b1072"]]},{"id":"ec8576bb.173fd8","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":480,"wires":[["b225edd7.b1072"]]},{"id":"60210a18.ac2fb4","type":"switch","z":"cd50a717.709188","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":540,"wires":[["1dab2b23.007865"],["ebd13d2c.ca746"]]},{"id":"1dab2b23.007865","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":520,"wires":[["8e6f8617.bd50b8"]]},{"id":"ebd13d2c.ca746","type":"function","z":"cd50a717.709188","name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":560,"wires":[["8e6f8617.bd50b8"]]},{"id":"d262366.8e5f8c8","type":"ui_switch","z":"cd50a717.709188","name":"DO0 - Inversor","label":"Inversor","tooltip":"","group":"f02d3ade.e70ac8","order":3,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do1","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":260,"y":640,"wires":[["1ec1fd59.c75b53"]]},{"id":"7098e859.5f5a48","type":"ui_switch","z":"cd50a717.709188","name":"DO1 - Motor carburado","label":"Motor carburado","tooltip":"","group":"f02d3ade.e70ac8","order":5,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do2","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":290,"y":680,"wires":[["43495c18.de2224"]]},{"id":"8e2cdca8.efe6b","type":"ui_switch","z":"cd50a717.709188","name":"DO2 -Bomba","label":"Bomba","tooltip":"","group":"f02d3ade.e70ac8","order":7,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do3","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":250,"y":720,"wires":[["325e1029.20a6c"]]},{"id":"f923420f.34efc","type":"ui_switch","z":"cd50a717.709188","name":"DO3 - Mega Squirt","label":"Mega Squirt","tooltip":"","group":"f02d3ade.e70ac8","order":9,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do4","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":270,"y":760,"wires":[["ecdd5291.3a264"]]},{"id":"24040aa6.f35b66","type":"ui_switch","z":"cd50a717.709188","name":"DO4 - Sonda Lambda","label":"Sonda Lambda","tooltip":"","group":"f02d3ade.e70ac8","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do5","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":280,"y":800,"wires":[["8b420b4d.0b64a8"]]},{"id":"48f0db4.4bc7f24","type":"ui_switch","z":"cd50a717.709188","name":"DO5 - Emergência","label":"Emergência","tooltip":"","group":"f02d3ade.e70ac8","order":13,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Advantech/74FE4846B81A/ctl/do6","style":"","onvalue":"{\"v\":true}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"v\":false}","offvalueType":"str","officon":"","offcolor":"","x":270,"y":840,"wires":[["2b703fe.5bd31c"]]},{"id":"1b25753d.52565b","type":"ui_template","z":"cd50a717.709188","group":"f02d3ade.e70ac8","name":"","order":1,"width":24,"height":11,"format":"<body>\n<iframe id=\"tree\" name=\"myiframe\" src=\"https://rmm.maua.br\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\" width=\"100%\" height=\"100%\" scrolling=\"auto\"></iframe>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":680,"wires":[[]]},{"id":"630f881d.5ec858","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":2,"width":6,"height":1,"name":"6066","label":"","format":"Partida do motor","layout":"row-spread","x":710,"y":760,"wires":[]},{"id":"16ee31ad.41c6ae","type":"comment","z":"ce818009.142b7","d":true,"name":"ADAM 6017","info":"","x":90,"y":20,"wires":[]},{"id":"f384fa51.1a1f18","type":"comment","z":"ce818009.142b7","d":true,"name":"Pegando os dados","info":"","x":110,"y":60,"wires":[]},{"id":"c21d4b2.8c29fb8","type":"comment","z":"ce818009.142b7","d":true,"name":"Subindo dados","info":"","x":100,"y":500,"wires":[]},{"id":"f946500d.ccbc2","type":"mqtt in","z":"ce818009.142b7","d":true,"name":"ADAM 6017 DATA","topic":"Advantech/00D0C9E3224F/data","qos":"2","datatype":"auto","broker":"287e2ee5.849902","x":110,"y":300,"wires":[["33c41b4c.65ed74"]]},{"id":"b8e99c9b.63dbb","type":"comment","z":"ce818009.142b7","d":true,"name":"ADAM 6052","info":"","x":90,"y":660,"wires":[]},{"id":"964827b0.394f58","type":"comment","z":"ce818009.142b7","d":true,"name":"Pegando os dados","info":"","x":110,"y":700,"wires":[]},{"id":"f36311bb.9218e","type":"comment","z":"ce818009.142b7","d":true,"name":"Subindo dados","info":"","x":100,"y":1380,"wires":[]},{"id":"9f703ff5.17065","type":"mqtt in","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DATA","topic":"Advantech/74FE4846A78D/data","qos":"2","datatype":"auto","broker":"287e2ee5.849902","x":110,"y":960,"wires":[["304f6a33.5c2676"]]},{"id":"d6558174.b6dca","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO0","topic":"Advantech/74FE4846A78D/ctl/do1","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1420,"wires":[]},{"id":"8f9e018d.e7995","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6017 DO0","topic":"Advantech/00D0C9E3224F/ctl/do1","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":540,"wires":[]},{"id":"f8776143.81239","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6017 DO0","topic":"Advantech/00D0C9E3224F/ctl/do2","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":580,"wires":[]},{"id":"1d0c60d6.ad6b3f","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO1","topic":"Advantech/74FE4846A78D/ctl/do2","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1460,"wires":[]},{"id":"a1cc4289.cc97","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO2","topic":"Advantech/74FE4846A78D/ctl/do3","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1500,"wires":[]},{"id":"392a3b0c.9b63f4","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO3","topic":"Advantech/74FE4846A78D/ctl/do4","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1540,"wires":[]},{"id":"77f0fbde.b5ab44","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO4","topic":"Advantech/74FE4846A78D/ctl/do5","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1580,"wires":[]},{"id":"1021d8be.e65c57","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO5","topic":"Advantech/74FE4846A78D/ctl/do6","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1620,"wires":[]},{"id":"dc7a3977.79d9b8","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO6","topic":"Advantech/74FE4846A78D/ctl/do7","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1660,"wires":[]},{"id":"ccffa201.7b4c","type":"mqtt out","z":"ce818009.142b7","d":true,"name":"ADAM 6052 DO7","topic":"Advantech/74FE4846A78D/ctl/do8","qos":"2","retain":"true","broker":"287e2ee5.849902","x":390,"y":1700,"wires":[]},{"id":"5af72a95.8a7bf4","type":"function","z":"ce818009.142b7","d":true,"name":"AI0","func":"var m = msg.payload;\nmsg.payload = m.ai1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[[]]},{"id":"33c41b4c.65ed74","type":"json","z":"ce818009.142b7","d":true,"name":"","property":"payload","action":"","pretty":false,"x":270,"y":300,"wires":[["5af72a95.8a7bf4","9693f5ff.ab4d68","8f77e454.b138e8","d65dd79f.9d37e8","a5d5adfa.598f7","290aecb5.dc5384","22348d5e.b4e052","a9e7cf46.096ea","4695a99b.46c6d8","828efcdc.774c5"]]},{"id":"9693f5ff.ab4d68","type":"function","z":"ce818009.142b7","d":true,"name":"AI1","func":"var m = msg.payload;\nmsg.payload = m.ai2;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]},{"id":"8f77e454.b138e8","type":"function","z":"ce818009.142b7","d":true,"name":"AI2","func":"var m = msg.payload;\nmsg.payload = m.ai3;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[[]]},{"id":"d65dd79f.9d37e8","type":"function","z":"ce818009.142b7","d":true,"name":"AI3","func":"var m = msg.payload;\nmsg.payload = m.ai4;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[[]]},{"id":"a5d5adfa.598f7","type":"function","z":"ce818009.142b7","d":true,"name":"AI4","func":"var m = msg.payload;\nmsg.payload = m.ai5;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[[]]},{"id":"290aecb5.dc5384","type":"function","z":"ce818009.142b7","d":true,"name":"AI5","func":"var m = msg.payload;\nmsg.payload = m.ai6;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[[]]},{"id":"22348d5e.b4e052","type":"function","z":"ce818009.142b7","d":true,"name":"AI6","func":"var m = msg.payload;\nmsg.payload = m.ai7;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[[]]},{"id":"a9e7cf46.096ea","type":"function","z":"ce818009.142b7","d":true,"name":"AI7","func":"var m = msg.payload;\nmsg.payload = m.ai8;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[[]]},{"id":"4695a99b.46c6d8","type":"function","z":"ce818009.142b7","d":true,"name":"DO0","func":"var m = msg.payload;\nmsg.payload = m.do1;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":380,"wires":[["6258c9bb.ab18d8"]]},{"id":"828efcdc.774c5","type":"function","z":"ce818009.142b7","d":true,"name":"DO1","func":"var m = msg.payload;\nmsg.payload = m.do2;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["845391de.0d642"]]},{"id":"c0afb009.a85f1","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6017 - DO0","server":"","client":"13cd725e.786a4e","x":90,"y":540,"wires":[[]]},{"id":"9eaecdb9.8091c","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6017 - DO1","server":"","client":"13cd725e.786a4e","x":90,"y":580,"wires":[[]]},{"id":"b7a789d3.960ef8","type":"function","z":"ce818009.142b7","d":true,"name":"DI0","func":"var m = msg.payload;\nmsg.payload = m.di1;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["5048375f.66e448"]]},{"id":"304f6a33.5c2676","type":"json","z":"ce818009.142b7","d":true,"name":"","property":"payload","action":"","pretty":false,"x":270,"y":960,"wires":[["b7a789d3.960ef8","8330c383.4e9a","d64a5833.598df8","94125fc9.8de2f","5bcf8c19.cb6784","2b4d112c.6dc6ae","7c112d1e.2198c4","c290ea8b.2e0438","56e8979d.47a1a8","5e851521.084bfc","985e8d78.a6cd1","f913b7.df660c48","24b8193a.31afc6","ff3148d5.e7fcb8","47223e2e.9ddab","d2e0ab0f.615398"]]},{"id":"c290ea8b.2e0438","type":"function","z":"ce818009.142b7","d":true,"name":"DI1","func":"var m = msg.payload;\nmsg.payload = m.di2;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["d4abb8cb.5a86f8"]]},{"id":"7c112d1e.2198c4","type":"function","z":"ce818009.142b7","d":true,"name":"DI2","func":"var m = msg.payload;\nmsg.payload = m.di3;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["41f049be.7a3fc8"]]},{"id":"2b4d112c.6dc6ae","type":"function","z":"ce818009.142b7","d":true,"name":"DI3","func":"var m = msg.payload;\nmsg.payload = m.di4;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1000,"wires":[["8f132c99.5cf9c"]]},{"id":"5bcf8c19.cb6784","type":"function","z":"ce818009.142b7","d":true,"name":"DI4","func":"var m = msg.payload;\nmsg.payload = m.di5;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1080,"wires":[["aebe8abe.6765e8"]]},{"id":"94125fc9.8de2f","type":"function","z":"ce818009.142b7","d":true,"name":"DI5","func":"var m = msg.payload;\nmsg.payload = m.di6;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1160,"wires":[["bba9332.c8d6ad"]]},{"id":"d64a5833.598df8","type":"function","z":"ce818009.142b7","d":true,"name":"DI6","func":"var m = msg.payload;\nmsg.payload = m.di7;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1240,"wires":[["f90ffcbe.680df"]]},{"id":"8330c383.4e9a","type":"function","z":"ce818009.142b7","d":true,"name":"DI7","func":"var m = msg.payload;\nmsg.payload = m.di8;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1320,"wires":[["c71c7d16.56e78"]]},{"id":"d2e0ab0f.615398","type":"function","z":"ce818009.142b7","d":true,"name":"DO0","func":"var m = msg.payload;\nmsg.payload = m.do1;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":760,"wires":[["8e5dcf88.6246a"]]},{"id":"47223e2e.9ddab","type":"function","z":"ce818009.142b7","d":true,"name":"DO1","func":"var m = msg.payload;\nmsg.payload = m.do2;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":840,"wires":[["ae29fd13.f365f"]]},{"id":"ff3148d5.e7fcb8","type":"function","z":"ce818009.142b7","d":true,"name":"DO2","func":"var m = msg.payload;\nmsg.payload = m.do3;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":920,"wires":[["18148dfd.56cd62"]]},{"id":"24b8193a.31afc6","type":"function","z":"ce818009.142b7","d":true,"name":"DO3","func":"var m = msg.payload;\nmsg.payload = m.do4;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1000,"wires":[["c2bf3924.437bf8"]]},{"id":"f913b7.df660c48","type":"function","z":"ce818009.142b7","d":true,"name":"DO4","func":"var m = msg.payload;\nmsg.payload = m.do5;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1080,"wires":[["3d754ebb.768382"]]},{"id":"985e8d78.a6cd1","type":"function","z":"ce818009.142b7","d":true,"name":"DO5","func":"var m = msg.payload;\nmsg.payload = m.do6;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1160,"wires":[["7c6b64b5.52d32c"]]},{"id":"56e8979d.47a1a8","type":"function","z":"ce818009.142b7","d":true,"name":"DO6","func":"var m = msg.payload;\nmsg.payload = m.do7;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1240,"wires":[["aa354a61.8493e8"]]},{"id":"5e851521.084bfc","type":"function","z":"ce818009.142b7","d":true,"name":"DO7","func":"var m = msg.payload;\nmsg.payload = m.do8;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1320,"wires":[["ce5996d0.8188f8"]]},{"id":"c3804715.1f77b8","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO4","server":"","client":"13cd725e.786a4e","x":90,"y":1580,"wires":[[]]},{"id":"da273ce4.2095a","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO5","server":"","client":"13cd725e.786a4e","x":90,"y":1620,"wires":[[]]},{"id":"2107b672.207b0a","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO6","server":"","client":"13cd725e.786a4e","x":90,"y":1660,"wires":[[]]},{"id":"c10e5c74.9c489","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO7","server":"","client":"13cd725e.786a4e","x":90,"y":1700,"wires":[[]]},{"id":"315f7c7.35c5e84","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO0","server":"","client":"13cd725e.786a4e","x":90,"y":1420,"wires":[[]]},{"id":"4dd41d20.51db24","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO1","server":"","client":"13cd725e.786a4e","x":90,"y":1460,"wires":[[]]},{"id":"270eded4.771812","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO2","server":"","client":"13cd725e.786a4e","x":90,"y":1500,"wires":[[]]},{"id":"9727329f.3f197","type":"websocket in","z":"ce818009.142b7","d":true,"name":"6052 - DO3","server":"","client":"13cd725e.786a4e","x":90,"y":1540,"wires":[[]]},{"id":"6258c9bb.ab18d8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":380,"wires":[["2bc4cd50.8039c2"],["415fb212.45c48c"]]},{"id":"2bc4cd50.8039c2","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[[]]},{"id":"415fb212.45c48c","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":400,"wires":[[]]},{"id":"845391de.0d642","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":460,"wires":[["f6dbe067.b8663"],["9c83ef7.772421"]]},{"id":"f6dbe067.b8663","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[[]]},{"id":"9c83ef7.772421","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":480,"wires":[[]]},{"id":"5048375f.66e448","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":760,"wires":[["2c15dceb.ffdd44"],["9d29a5c3.4bb6f8"]]},{"id":"2c15dceb.ffdd44","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":740,"wires":[[]]},{"id":"9d29a5c3.4bb6f8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":780,"wires":[[]]},{"id":"d4abb8cb.5a86f8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":840,"wires":[["166d892.c85bf77"],["9e48c697.6d4f88"]]},{"id":"166d892.c85bf77","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[[]]},{"id":"9e48c697.6d4f88","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":860,"wires":[[]]},{"id":"41f049be.7a3fc8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":920,"wires":[["f03d445f.1b0c28"],["33580f05.f75c6"]]},{"id":"f03d445f.1b0c28","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":900,"wires":[[]]},{"id":"33580f05.f75c6","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":940,"wires":[[]]},{"id":"8f132c99.5cf9c","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1000,"wires":[["ef5762a6.48e71"],["1ee282fe.2f172d"]]},{"id":"ef5762a6.48e71","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":980,"wires":[[]]},{"id":"1ee282fe.2f172d","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1020,"wires":[[]]},{"id":"aebe8abe.6765e8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1080,"wires":[["926abe44.db714"],["13a2c7c.dad3638"]]},{"id":"926abe44.db714","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1060,"wires":[[]]},{"id":"13a2c7c.dad3638","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1100,"wires":[[]]},{"id":"bba9332.c8d6ad","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1160,"wires":[["1e10e42a.02ab5c"],["b82fc55b.534158"]]},{"id":"1e10e42a.02ab5c","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[[]]},{"id":"b82fc55b.534158","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1180,"wires":[[]]},{"id":"f90ffcbe.680df","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1240,"wires":[["7dac8279.9b89dc"],["31bfdb6b.080fe4"]]},{"id":"7dac8279.9b89dc","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1220,"wires":[[]]},{"id":"31bfdb6b.080fe4","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1260,"wires":[[]]},{"id":"c71c7d16.56e78","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1320,"wires":[["d9a3705e.27b71"],["9406cb15.df8b98"]]},{"id":"d9a3705e.27b71","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1300,"wires":[[]]},{"id":"9406cb15.df8b98","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1340,"wires":[[]]},{"id":"8e5dcf88.6246a","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":760,"wires":[["39990c48.4a72a4"],["1e602554.2b1acb"]]},{"id":"39990c48.4a72a4","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":740,"wires":[[]]},{"id":"1e602554.2b1acb","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":780,"wires":[[]]},{"id":"ae29fd13.f365f","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":840,"wires":[["f3485686.106538"],["156bd890.ff4f37"]]},{"id":"f3485686.106538","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":820,"wires":[[]]},{"id":"156bd890.ff4f37","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":860,"wires":[[]]},{"id":"18148dfd.56cd62","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":920,"wires":[["393d5a69.4ad616"],["69815691.e7a1d8"]]},{"id":"393d5a69.4ad616","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":900,"wires":[[]]},{"id":"69815691.e7a1d8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":940,"wires":[[]]},{"id":"c2bf3924.437bf8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1000,"wires":[["6becd782.39ee58"],["bc05546.1c1e4a8"]]},{"id":"6becd782.39ee58","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":980,"wires":[[]]},{"id":"bc05546.1c1e4a8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1020,"wires":[[]]},{"id":"3d754ebb.768382","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1080,"wires":[["5d83d0d7.101d2"],["7b8f3837.779d28"]]},{"id":"5d83d0d7.101d2","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1060,"wires":[[]]},{"id":"7b8f3837.779d28","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1100,"wires":[[]]},{"id":"7c6b64b5.52d32c","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1160,"wires":[["a7692141.73933"],["3f5177df.0999c8"]]},{"id":"a7692141.73933","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1140,"wires":[[]]},{"id":"3f5177df.0999c8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1180,"wires":[[]]},{"id":"aa354a61.8493e8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1240,"wires":[["c47146a2.65f1b8"],["620f7219.34841c"]]},{"id":"c47146a2.65f1b8","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1220,"wires":[[]]},{"id":"620f7219.34841c","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1260,"wires":[[]]},{"id":"ce5996d0.8188f8","type":"switch","z":"ce818009.142b7","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1320,"wires":[["e97e8c8a.66fe2"],["e57a6b84.d54a78"]]},{"id":"e97e8c8a.66fe2","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Ligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1300,"wires":[[]]},{"id":"e57a6b84.d54a78","type":"function","z":"ce818009.142b7","d":true,"name":"","func":"msg.payload = \"Desligado\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1340,"wires":[[]]},{"id":"c606b384.59b9d","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":4,"width":2,"height":1,"name":"DO0","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":140,"wires":[]},{"id":"ea2e9a06.208598","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":8,"width":2,"height":1,"name":"DO2","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":300,"wires":[]},{"id":"5967a8f2.da6d78","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":10,"width":2,"height":1,"name":"DO3","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":380,"wires":[]},{"id":"b225edd7.b1072","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":12,"width":2,"height":1,"name":"DO4","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":460,"wires":[]},{"id":"37efc90b.3b1626","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":6,"width":2,"height":1,"name":"DO1","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":220,"wires":[]},{"id":"8e6f8617.bd50b8","type":"ui_text","z":"cd50a717.709188","group":"f02d3ade.e70ac8","order":14,"width":2,"height":1,"name":"DO5","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":540,"wires":[]}]